/* Buttons */
#selection .button {
	margin-top: 20px;
}

/* Letters */
#letters {
	height: 700px;
	width: 700px;
}
.letter {
	height: 100px;
	width: 100px;
	float: left;
	text-align: center;
	margin: 20px;
	color:#fff;
}
.letter p {
	font-size: 24px;
}

.letter.p1 {
	background: red;
	color: #000;
}
.letter.p2 {
	background: blue;
	color: #000;
}
.letter.chosen-letter {
    background-color: #000;
    background: #000;
}
input{
	text-align: center;
	background-color: lightGrey;
}
.hidden {
	display: none;
}
.centered {
	text-align: center;
	margin: auto;
}
.selecting-mine {
    background-color: #ff1d33;
}
.selected-mine {
	background-color: red;
}
.selecting-theirs {
    background-color: #526aff;
}
.selected-theirs {
	background-color: blue;
}
ul {
	text-decoration: none;
}
.letter.unclaimed {
    background: lightGrey;
    color: #fff;
}